[Unit]
Description=SJSPi Spectrum Joystick Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/SJSPi/start.sh

[Install]
WantedBy=multi-user.target
